body{

font-family:Arial;
background:#f2f5ff;
padding:20px;

}


h1{

text-align:center;
color:#173b8f;

}


#quiz{

background:white;
padding:20px;
border-radius:10px;

}


button{

background:#173b8f;
color:white;
padding:12px 30px;
border:none;
border-radius:8px;
margin-top:20px;

}


div{

padding:10px;

}
